<header>

    <nav class="header-container">
        <div class="left">
            <a class="link-img" href="/"><img src="/images/everCapture.png" alt="Ever Capture"></a>
            <a href="/pages/apps/fintech.html" >Fintech</a>
            <a href="/pages/apps/hayday.html" >Hay Day</a>
        </div>
        <a class="header-title" href="/">Ever Capture</a>
        <div class="right">
            <a id="addEdit" class="hidden" href="/pages/addeditcrumb.html">Add Crumb</a>
            <select id="userSelect" class='hidden' ></select>
            <a id='logInOut' href="/"></a>
        </div>
    </nav>
    <div> <span class="error" id="manageError"></span></div>
</header>
