<div id="imgPopup-placeholder"></div>
<!-- <div id="addImgPopup-placeholder"></div> -->

<main class="main-content" id="mainContent">
    <div class="main-top">
        <div class="left">
            <span id="title"></span>
        </div>
        <div class="right">
            <span id="date" class="lbl-title"></span>
            <a id='viewType' class="Image" onclick="toggleViewType()"></a>
            <a id="edt" class="edit"></a>
            <a id="del" class="delete" onclick="deleteCrumb()"></a>
        </div>
    </div>
    <div id="dtContainer" class="scrollContainer">
        <div id="image" class="image-gallery"></div>
        <div>
        </div>
        <div id="crumbContainer">
        </div>
    </div>

    </div>
</main>