<div class="centerContainer">
    <h1>Login</h1>
    <form action="/login" method="post">
        <label>Username: <input type="text" name="username" required></label><br>
        <p></p>
        <label>Password: <input type="password" name="password" required></label><br>
        <p></p>
        <button class="link-button" type="submit">Login</button>
    </form>
    <br>
    Forget password? Go to<a class='lnk-title' href="/reset">Reset</a>, Or go to<a class='lnk-title' href="/register">Register</a>
</div>
