<div class="centerContainer">
    <h1>Reset Password</h1>
    <form action="/reset" method="post">
        <label>Username: <input type="text" name="username" required></label><br>
        <p></p>
        <label>Password: <input type="password" name="password" required></label><br>
        <p></p>
        <label>Confirm Password: <input type="password" name="password" required></label><br>
        <p></p>
        <button class="link-button" type="submit">Reset</button>
    </form>
    <br>
    Go to<a class='lnk-title' href="/login">Login</a>
</div>
