<div id="header-placeholder"></div>

<!-- Body -->
<div class="body">
    <div id='tooltip' class='hidden custom-tooltip'></div>

    <!-- Left Sidebar -->
    <div id="side-placeholder">
        <div class="sidebar">
            <div class="side-top">
                <span>Pinboard</span>
                <div class="right">
                    <!-- <a id='manageSide' class="manage" onclick="showHideSideBlock()"></a> -->
                    <a id='showHideSide' class="up" onclick="showHideSideBlock()"></a>
                </div>
            </div>
            <div id="sideBlock">
                <div id="quick-link-placeholder"></div>
                <div class="side-container" id="pinnedCrumb"></div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div id="main-placeholder" class="main-content"></div>
</div>

<div id="footer-placeholder"></div>