.imgPopup {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

.imgPopup.active {
    display: flex;
    visibility: visible;
    pointer-events: auto;
}

.imgPopup img {
    max-width: 80%;
    max-height: 80%;
    border: 2px solid #fff;
    border-radius: 15px;
}

.imgPopup .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.imgPopup .controls span {
    cursor: pointer;
    font-size: 2em;
    user-select: none;
}

.imgPopup .controls span:hover {
    color: #ccc;
}

.imgPopup .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

.imgPopup .close:hover {
    color: #ccc;
}
