.Bookmark,
.Note,
.Image,
.up,
.down,
.refresh,
.order,
.orderH,
.plus,
.minus,
.copy,
.unpinCopy,
.manage,
.copyC,
.pubLink,
.next,
.prev,
.dot,
.dotdot,
.unpinDot,
.edit,
.unpinEdit,
.pin,
.unpin,
.drop,
.delete,
.private,
.public,
.send,
.long,
.short,
.Memo,
.ShoppingList,
.GoList,
.editHTML,
.undelete,
.save,
.pinC,
.unpinC,
.comment,
.cabinet,
.pinboard,
.buddy,
.more,
.less,
.help,
.td,
.tdMinus,
.merge,
.star,
.starMinus,
.remove,
.share,
.moveBM,
.moveCat,
.fItem,
.dropImg,
.folder,
.board,
.list,
.none {
    position: relative;
    top: 4px;
    display: inline-block;
    border: 1px solid Transparent;
    width: 15px;
    height: 15px;
    background: url("/images/Tools.gif") no-repeat 0 0;
    text-decoration: none;
}

.Bookmark,
.Note,
.Image,
.up,
.down,
.refresh,
.order,
.orderH,
.plus,
.minus,
.copy,
.unpinCopy,
.manage,
.copyC,
.pubLink,
.next,
.prev,
.dot,
.unpinDot,
.edit,
.unpinEdit,
.pin,
.unpin,
.drop,
.delete,
.private,
.public,
.send,
.long,
.short,
.Memo,
.ShoppingList,
.GoList,
.editHTML,
.undelete,
.save,
.pinC,
.unpinC,
.comment,
.cabinet,
.pinboard,
.buddy,
.more,
.less,
.help,
.td,
.tdMinus,
.merge,
.star,
.starMinus,
.remove,
.share,
.moveBM,
.moveCat,
.fItem,
.dropImg,
.folder,
.board,
.list,
.none:hover {
    text-decoration: none;
    cursor: pointer;
}

.Bookmark {
    background-position: 0px -0px;
}

.Bookmark:hover {
    background-position: -16px -0px;
}

.Note {
    background-position: 0px -16px;
}

.Note:hover {
    background-position: -16px -16px;
}

.Image {
    background-position: 0px -32px;
}

.Image:hover {
    background-position: -16px -32px;
}

.up {
    background-position: 0px -48px;
}

.up:hover {
    background-position: -16px -48px;
}

.down {
    background-position: 0px -64px;
}

.down:hover {
    background-position: -16px -64px;
}

.refresh {
    background-position: 0px -80px;
}

.refresh:hover {
    background-position: -16px -80px;
}

.order {
    background-position: 0px -96px;
}

.order:hover {
    background-position: -16px -96px;
}

.orderH {
    background-position: 0px -112px;
}

.orderH:hover {
    background-position: -16px -112px;
}

.plus {
    background-position: 0px -128px;
}

.plus:hover {
    background-position: -16px -128px;
}

.minus {
    background-position: 0px -144px;
}

.minus:hover {
    background-position: -16px -144px;
}

.copy {
    background-position: 0px -160px;
}

.copy:hover {
    background-position: -16px -160px;
}

.unpinCopy {
    background-position: 0px -176px;
}

.unpinCopy:hover {
    background-position: -16px -176px;
}

.manage {
    background-position: 0px -192px;
}

.manage:hover {
    background-position: -16px -192px;
}

.copyC {
    background-position: 0px -208px;
}

.copyC:hover {
    background-position: -16px -208px;
}

.pubLink {
    background-position: 0px -224px;
}

.pubLink:hover {
    background-position: -16px -224px;
}

.next {
    background-position: 0px -240px;
}

.next:hover {
    background-position: -16px -240px;
}

.prev {
    background-position: 0px -256px;
}

.prev:hover {
    background-position: -16px -256px;
}

.dot {
    background-position: 0px -272px;
}

.dot:hover {
    background-position: -16px -272px;
}

.dotdot {
    background-position: 0px -272px;
}

.unpinDot {
    background-position: 0px -288px;
}

.unpinDot:hover {
    background-position: -16px -288px;
}

.edit {
    background-position: 0px -304px;
}

.edit:hover {
    background-position: -16px -304px;
}

.unpinEdit {
    background-position: 0px -320px;
}

.unpinEdit:hover {
    background-position: -16px -320px;
}

.pin {
    background-position: 0px -336px;
}

.pin:hover {
    background-position: -16px -336px;
}

.unpin {
    background-position: 0px -352px;
}

.unpin:hover {
    background-position: -16px -352px;
}

.drop {
    background-position: 0px -368px;
}

.drop:hover {
    background-position: -16px -368px;
}

.delete {
    background-position: 0px -384px;
}

.delete:hover {
    background-position: -16px -384px;
}

.private {
    background-position: 0px -400px;
}

.private:hover {
    background-position: -16px -400px;
}

.public {
    background-position: 0px -416px;
}

.public:hover {
    background-position: -16px -416px;
}

.send {
    background-position: 0px -432px;
}

.send:hover {
    background-position: -16px -432px;
}

.long {
    background-position: 0px -448px;
}

.long:hover {
    background-position: -16px -448px;
}

.short {
    background-position: 0px -464px;
}

.short:hover {
    background-position: -16px -464px;
}

.Memo {
    background-position: 0px -480px;
}

.Memo:hover {
    background-position: -16px -480px;
}

.ShoppingList {
    background-position: 0px -496px;
}

.ShoppingList:hover {
    background-position: -16px -496px;
}

.GoList {
    background-position: 0px -512px;
}

.GoList:hover {
    background-position: -16px -512px;
}

.editHTML {
    background-position: 0px -528px;
}

.editHTML:hover {
    background-position: -16px -528px;
}

.undelete {
    background-position: 0px -544px;
}

.undelete:hover {
    background-position: -16px -544px;
}

.save {
    background-position: 0px -560px;
}

.save:hover {
    background-position: -16px -560px;
}

.pinC {
    background-position: 0px -576px;
}

.pinC:hover {
    background-position: -16px -576px;
}

.unpinC {
    background-position: 0px -592px;
}

.unpinC:hover {
    background-position: -16px -592px;
}

.comment {
    background-position: 0px -608px;
}

.comment:hover {
    background-position: -16px -608px;
}

.cabinet {
    background-position: 0px -624px;
}

.cabinet:hover {
    background-position: -16px -624px;
}

.pinboard {
    background-position: 0px -640px;
}

.pinboard:hover {
    background-position: -16px -640px;
}

.buddy {
    background-position: 0px -656px;
}

.buddy:hover {
    background-position: -16px -656px;
}

.more {
    background-position: 0px -672px;
}

.more:hover {
    background-position: -16px -672px;
}

.less {
    background-position: 0px -688px;
}

.less:hover {
    background-position: -16px -688px;
}

.help {
    background-position: 0px -704px;
}

.help:hover {
    background-position: -16px -704px;
}

.td {
    background-position: 0px -720px;
}

.td:hover {
    background-position: -16px -720px;
}

.tdMinus {
    background-position: 0px -736px;
}

.tdMinus:hover {
    background-position: -16px -736px;
}

.merge {
    background-position: 0px -752px;
}

.merge:hover {
    background-position: -16px -752px;
}

.star {
    background-position: 0px -768px;
}

.star:hover {
    background-position: -16px -768px;
}

.starMinus {
    background-position: 0px -784px;
}

.starMinus:hover {
    background-position: -16px -784px;
}

.remove {
    background-position: 0px -800px;
}

.remove:hover {
    background-position: -16px -800px;
}

.share {
    background-position: 0px -816px;
}

.share:hover {
    background-position: -16px -816px;
}

.moveBM {
    background-position: 0px -832px;
}

.moveBM:hover {
    background-position: -16px -832px;
}

.moveCat {
    background-position: 0px -848px;
}

.moveCat:hover {
    background-position: -16px -848px;
}

.fItem {
    background-position: 0px -864px;
}

.fItem:hover {
    background-position: -16px -864px;
}

.dropImg {
    background-position: 0px -880px;
}

.dropImg:hover {
    background-position: -16px -880px;
}

.folder {
    background-position: 0px -896px;
}

.folder:hover {
    background-position: -16px -896px;
}

.board {
    background-position: 0px -912px;
}

.board:hover {
    background-position: -16px -912px;
}

.list {
    background-position: 0px -928px;
}

.list:hover {
    background-position: -16px -928px;
}

.none {
    background-position: 0px -944px;
}

.none:hover {
    background-position: -16px -944px;
}